.container {
  background-color: rgb(174, 184, 184);
}
.box {
  background-color: bisque;
  width: 250px;
  height: 250px;
  position: relative;
  animation-name: samir1;
  animation-duration: 2s;
  animation-iteration-count: 3;
}
@keyframes samir1 {
  from {
    width: 200px;
  }
  to {
    width: 400px;
  }
}
