.fcontainer{
  display: flex;
  /* border: 2px solid gray; */
  height: 45vh;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fitem{
  background-color: aqua;
  border: 2px solid rgb(248, 246, 250);
  margin:12px;
  width: 222px;
  height: 222px;
  text-align: center;
  align-items: center;
}